/* ContactForm.css */

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Add space between the box7 section and the form */
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left; /* Align form labels and inputs to the left */
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block; /* Display labels as block elements to ensure they appear on a new line */
  }
  
  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
  }
  
  /* Adjust the length of the entry space */
  textarea {
    width: 10cm; /* Set the width for the text area */
    height: 1cm; /* Set the height for the text area */
    background-color: whitesmoke;
  }
  

 
  button {
    background-color: #d1581f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate the button from the form fields */
  }
  
  button:hover {
    background-color: #d1581f;
  }
  