
.drop-menu {
  position: relative;
  margin-right: 20px;
}

.menu-title {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.drop-menu:hover .menu-items {
  visibility: visible;
  opacity: 1;
}
