.customer-support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  
  .back-to-top-box {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
  }
  
  
  .help-center-box input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  
  .back-to-top-box a {
    color: blue;
    text-decoration: underline;
  }
  