
.footer {
  background-color: #f8f4f4;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px; 
}

.footer-section {
  margin: 0 20px; 
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}
